* {
}

body {
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  background: url("https://wallpaperaccess.com/full/42337.jpg");
  background-size: 200vh;
  background-position: top center;
  margin-top: 50px;
}

.navbar {
  color: black;
  background-color: rgb(2, 2, 52);
  font-family: 'Montserrat', sans-serif;
}

.navitem {
  color:white;
}

.dropdown {
  /* background: rgb(225, 40, 163); */
  border-style: 5px solid;
  border-color: black;
  margin-left: 20px;
}

.dropdown.button:focus:not(:focus-visible) {
  background: white;
}

#home-images {
  display: flex;
  justify-content: center;
}

img {
  max-height: 120px;
  margin: 20px;
  border-radius: 2px;
}

Table {
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  opacity: .9;
}

.table-header{
  font-family: 'M PLUS Rounded 1c', sans-serif;
  color: rgb(225, 40, 163);
  font-weight: 700;
}

.card {
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
  background-color: transparent;
}

.large-card {
  background-color: rgb(2, 2, 52);
  color: white;
  margin-top: 35px;
  margin-bottom: 50px;
  /* border: 1px solid white; */
  opacity: .8;
}

#smaller-cards {
  display: flex;
  justify-content: center;
}

.small-card {
  background-color: rgb(2, 2, 52);
  color: white;
  /* max-width: 300px; */
  /* border: 1px solid white; */
  max-width: 350px;
  opacity: .9
}

h2 {
  font-family: 'Montserrat', sans-serif;
  /* font-weight: 600; */
  /* color: rgb(0, 255, 238); */
  color: rgb(196, 14, 136);
  text-align: center;
}

h4 {
  color: white;
  color: rgb(196, 14, 136);
  font-family: 'Montserrat', sans-serif;
}

button {
  background-color: rgb(89, 8, 62);
  margin-top: 20px
}

a {
  color: white;
}

#new-user-button {
  margin-left: 20px;
  margin-top: 20px;
}

form {
  margin-left: 20px;
  margin-top: 20px;

  max-width: 800px;
  background-color: white;
  padding: 20px
}

.chart {
  background-color: rgb(163, 195, 220);
  margin-left: 20px;
  opacity: .9;
  border-radius: 3px;
  padding: 20px;
}

/* .chart-box {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between

} */
